<head>
    <title>{{TITLE}}</title>
    <style>
        body
        {
            overflow-x:hidden;
            max-width: 100%;
            overflow-y: scroll;
            zoom : 200%;
            background-color: darkcyan;
            color: white;
        }
    </style>
    <style type="text/css">
        STYLE
        </style>

</head>
<body>

<!--Header here -->
<!--Header here -->
<div style="text-align: center">
	<span style="font-size: 400%; color: black">
        Blogosphere!
    </span>
    <br />
    <br />
    {% load static %}
    <span><img src="{% static 'images/Rotating_globe.gif' %} " width="150" height="150" /></span>
    <br />

    <br />
    Total Posts: {{TOTAL_POSTS}}
    <br />Total words: {{TOTAL_WORDS}}
	<br/>
	<br/>
</div>

<div style="font-size: 250%">
	<br/><span>&nbsp;&nbsp;&nbsp;&nbsp;<u>{{TITLE}}</u></span>

</div>
    <p style="text-align: center ; color : white">
        {{DATE}}
        <br/>
        {{NUM_WORDS}} words
    </p>
    
    TEXT_HTML


</body>