
<head>
    <title>BLogosphere!</title>
    <style>
        body
        {
            background-color: darkcyan;
            color: white;
            overflow-x:hidden;
            max-width: 100%;
            overflow-y: scroll;
            zoom : 200%;
        }
    </style>


    <style type="text/css">
        STYLE
   </style>



</head>
<body>
<!--Header here -->
<div style="text-align: center">
	<span style="font-size: 400%; color: black">
        Blogosphere!
    </span>
    <br />
    <br />
    {% load static %}
    <span><img src="{% static 'images/Rotating_globe.gif' %} " width="150" height="150" /></span>
    <br />
    <br />

    <span style="font-size: 125%">
        {{TAGLINE}}
    </span>
    <br />
    <br />
    Total Posts: {{TOTAL_POSTS}}
    <br />Total words: {{TOTAL_WORDS}}


	<br/>
	<br/>


</div>
<span style="text-align: left; font-size: 250%">
        &nbsp;&nbsp;
        <u>{{TITLE}}</u></span>
<div>

    <p style="text-align: center ; color : white">
        {{DATE}}
        <br/>
        {{NUM_WORDS}} words
    </p><br/>
    &nbsp;&nbsp;
    TEXT_HTML

    <br /><br />
    <a href={{ID}}>Continue reading...</a><br />
    <p style="text-align: center ; color : white">
        ENTRIES:
    </p><br />
    LINES
</div>
<br />
<br />
<a href="admin">Admin Login</a>

</body>