<!--The main homepage of the website
 Includes all portfolio links -->

<head>

    <!--The main style of the body -->
    <style id = "BodyStyle">
        body
        {
            background-color: darkcyan;
            color: white;
            overflow-x:hidden;
            max-width: 100%;
            overflow-y: scroll;
            zoom : 200%;
        }
    </style>
    <style type="text/css">
        STYlE
    </style>


</head>

<body>
<!-- Header -->
<div style="font-size: 400%; text-align: center; color: black">
danecarstens.net
<br />
    {% load static %}
    <span><img src="{% static 'images/DaneTractor.jpg' %} " width="187.5" height="250" /></span>
    <br />
    <p style="font-size: 35%; color: white">
        Author, Game Designer, Nature Nerd
    </p>
    <p style="font-size: 15%; color: white">
    Dane is a Computer Game Science student at UCI.
        <br/>He spends his days reading and writing SciFi/Fantasy,
        <br/>
        working on indie games,
        <br/>ranting about why the US needs better public transit,
        <br/>and camping across the National
        Parks System

        <br />
        <br />
        Social links: <br />

        <a href="https://www.instagram.com/danyewest/">Instagram</a>
        <br />
        <a href="https://twitter.com/CarstensDane">Twitter</a>
    </p>
</div>
<!-- Body -->
<div style="text-align: center">
    <br />
    <span style = "font-size: 150%">
        <u>Current Projects:</u>
        <br />
    </span>

    <a href="Blogosphere">Blogosphere</a>, a political, meandering ranting blog
    <button type = "button" onclick="toggleButton('Blogosphere', 'blogToggleLabel', 'blogosphereLong')"
            id = "blogToggleLabel">Read more...</button>
    <br />
    <span id = "blogosphereLong"></span>
    <br />
    The Scorching Ray, a novel
    <button type = "button" onclick="toggleButton('ScorchingRay', 'ScorchingButton', 'ScorchingText')"
    id = "ScorchingButton">
        Read more...
    </button>
    <br />
    <span id = "ScorchingText"></span>
    <br />
    The Great Outdoors, an annotated Google Map of interesting hiking spots
    <button type = "button" onclick="toggleButton('GreatBodyText', 'GreatOutButton', 'GreatBody', 'Expand...')"
    id = "GreatOutButton">
        Expand...
    </button>
    <span id = "GreatBody"></span>

    <br />
    <br />


    <span style="font-size: 125%"><i><u>A bit of wisdom from The Clone Wars...</u></i></span>
    <br />
    Season <span id="Season">2</span>, Episode <span id="Episode">5</span>: <span id="EpTitle">Landing at Point Rain</span>
    <br />
    <br />
    <span id="CloneQoute", style="font-size: 150% ; color: #176B8E ; background-color: black"><b>Believe in yourself or no one else will.</b></span>
    <br />
    <br />
    <button type="button " onclick="changeQuote(-1)"><- Previous Quote</button>
    <button type="button " onclick="changeQuote(0, true)">??? Random Quote ???</button>
    <button type="button " onclick="changeQuote(1)">Next Quote -></button>



</div>

<span style="font-size: 75%">
    <br />
    <br />
    For any further inquries, please email me at <a href="mailto:dcarsten@uci.edu">dcarsten@uci.edu</a>
</span>

<script>
        var longStrings = {
            "Blogosphere" : "There were far too many times that I yelled at my hometown paper, the wonderful Visalia Times Delta,\
          about the absolute insanity in the world of politics today. I started this blog project\
          as a long form ranting project, shooting for a weekly release schedule of roughly 1000 words per entry.\
          ",
            "ScorchingRay" : "<br /><span><img src=\"{% static 'images/ScorchingRayCoverWords.jpg' %} \" width=\"187.5\" height=\"250\" /></span>" +
                "<br />The coup was bloody but short. Jace Carver was lucky to escape with his life, " +
                "but he’s still in trouble. Teleported to the middle of the wilderness, " +
                "he’s left with no allies except a shape-shifter of dubious morality and trustworthiness. " +
                "Can he take back his Empire, and avenge his family?<br /><br />" +
                "A fun fantasy novel clocking in at 88 thousand words<br />",
            "GreatBodyText" : "<br />\n" +
                "        <br />\n" +
                "        Click on a couple trails, explore something interesting! Nature is always out there, if you look\n" +
                "        <br />\n" +
                "        <br />\n" +
                "        <span style=\"font-size: 200%\"><u>Key:</u></span><br />\n" +
                "        Blue lines: Free Parking<br />\n" +
                "        Green Lines: Paid Parking<br />\n" +
                "        <iframe src=\"https://www.google.com/maps/d/embed?mid=1mIbcvGdeoXyR552D1Elfzkwl6ujLNDHN&ehbc=2E312F\" width=\"640\" height=\"480\"></iframe>",

        }

        function toggleButton(longString, buttonID, descriptionID, posLabel = "Read more...", negLabel = "Close...")
        {
            var button = document.getElementById(buttonID);
            var target = document.getElementById(descriptionID);
            if (target.innerHTML == "")
            {
                target.innerHTML = longStrings[longString];
                button.innerText = negLabel;
            }
            else
            {
                button.innerText = posLabel;
                target.innerHTML = "";
            }

        }
        var clone = "CLONE"
        var cloneSplit = clone.split("|||")
        var currentQuoteNum = 26
        function changeQuote(amount, random=false){
            var randomNum = Math.floor(Math.random() * (cloneSplit.length));
            if (random == true)
            {
                currentQuoteNum = randomNum;
            }
            else
            {
                currentQuoteNum += amount;
                if (currentQuoteNum < 0)
                {
                    currentQuoteNum = cloneSplit.length - 1;
                }
                else if (currentQuoteNum >= cloneSplit.length)
                {
                    currentQuoteNum = 0;
                }
            }
            var newQuote = cloneSplit[currentQuoteNum]
            var quoteText = newQuote.split(": ")
            var quoteSpan = document.getElementById("CloneQoute")
            quoteSpan.innerHTML = quoteText[1]
            var quoteData = quoteText[0].split(" – ")
            var epNum = quoteData[0].split("×")
            document.getElementById("Season").innerHTML = epNum[0]
            document.getElementById("Episode").innerHTML = epNum[1]
            document.getElementById("EpTitle").innerHTML = quoteData[1]


        }
        changeQuote(0, true)





    </script>

</body>