<!--The main homepage of the website
 Includes all portfolio links -->

<head>

    <!--The main style of the body -->
    <style id = "BodyStyle">
        body
        {
            background-color: black;
            color: #00ff00;
            overflow-x:hidden;
            max-width: 100%;
            overflow-y: scroll;
            zoom : 250%;
        }
    </style>
    <style type="text/css">
        STYlE
    </style>


</head>

<body>
<!-- Header -->
<div style="color: #00a800">

    <p style="font-size: 250%; color : #00ff00;
     font-family: Georgia">danecarstens.net</p>

<br />
    {% load static %}
    <span id="DanePicture"></span>
    <br />
    <p style="font-size: 110%; color: #00ff00">
        Author, Game Designer, Nature Nerd
    </p>
    <p style="color: #00a800">
    >Dane is finishing his last class in his last quarter at UCI, obtaining a Computer Game Science degree.
        <br /><br/>>He spends his days reading and writing SciFi/Fantasy,
        <br /><br/>>building indie games,
        <br /><br/>>ranting about why the US needs better public transit,
        <br /><br/>>and camping across the National Parks System
        <br />
        <br />
    <span style="font-size: 250%; color: #00ff00"><u>Portfolio Work:</u>
    <br /></span>
    <<a href="Portfolio/Programming" style="color: #00b5ff">Programming work</a>>
    <br />
        <br />
        <<a href="https://drive.google.com/uc?export=download&id=1vf0llu53vKQnWDmm3TO1wCm1bT9v1nio"
            style="color: #00b5ff">Resume</a>>
        <br />
        <br />
        <br />
        <u style="color: #00ff00">Social links: </u><br />

        <<a href="https://www.instagram.com/danyewest/" style="color: #00b5ff">Instagram</a>>
        <br />
        <<a href="https://twitter.com/CarstensDane" style="color: #00b5ff">Twitter</a>>
    </p>
</div>
<!-- Current projects are being moved to portfolio - this be my homepage
<div>
    <br />
    <span style = "font-size: 150%">
        <u>Current Projects:</u>
        <br />
    </span>
    <br />
    Space Runners!
    <br />
    My senior capstone project, a solo game built in Godot
    <br />
    Find playable builds <a href = "https://drive.google.com/drive/folders/1mXzZsK1MvOIKCLFup6I_QwO0RVKjjsFe?usp=sharing">HERE</a>
    <br />
    <br />
    <br />
    The Scorching Ray, a novel
    <button type = "button" onclick="toggleButton('ScorchingRay', 'ScorchingButton', 'ScorchingText')"
    id = "ScorchingButton">
        Read more...
    </button>
    <br />
    <span id = "ScorchingText"></span>
    <br />


    The Great Outdoors, an annotated Google Map of interesting hiking spots
    <button type = "button" onclick="toggleButton('GreatBodyText', 'GreatOutButton', 'GreatBody', 'Expand...')"
    id = "GreatOutButton">
        Expand...
    </button>
    <span id = "GreatBody"></span>
-->
    <br />

    <br />

    <span style="font-size: 125%"><i><u>A bit of wisdom from The Clone Wars...</u></i></span>
    <br />
    Season <span id="Season">2</span>, Episode <span id="Episode">5</span>: <span id="EpTitle">Landing at Point Rain</span>
    <br />
    <br />
    <span id="CloneQoute", style="font-size: 150% ; color: #176B8E ; background-color: black"><b>Believe in yourself or no one else will.</b></span>
    <br />
    <br />
    <button type="button " onclick="changeQuote(-1)" style="color: #00b5ff;
    background-color: black; border-color: white"><- Previous Quote</button>
    <button type="button " onclick="changeQuote(0, true)" style="color: #00b5ff;
    background-color: black; border-color: white"">??? Random Quote ???</button>
    <button type="button " onclick="changeQuote(1)" style="color: #00b5ff;
    background-color: black; border-color: white"">Next Quote -></button>



</div>

<span style="font-size: 75%">
    <br />
    <br />
    For any further inquries, please email me at <a href="mailto:danemcarstens@gmail.com" style="color: #00b5ff">danemcarstens@gmail.com</a>
</span>

<script>
        var longStrings = {
            "Blogosphere" : "There were far too many times that I yelled at my hometown paper, the wonderful Visalia Times Delta,\
          about the absolute insanity in the world of politics today. I started this blog project\
          as a long form ranting project, shooting for a weekly release schedule of roughly 1000 words per entry.\
          ",
            "ScorchingRay" : "<br /><span><img src=\"{% static 'images/ScorchingRayCoverWords.jpg' %} \" width=\"187.5\" height=\"250\" /></span>" +
                "<br />The coup was bloody but short. Jace Carver was lucky to escape with his life, " +
                "but he’s still in trouble. Teleported to the middle of the wilderness, " +
                "he’s left with no allies except a shape-shifter of dubious morality and trustworthiness. " +
                "Can he take back his Empire, and avenge his family?<br /><br />" +
                "A fun fantasy novel clocking in at 88 thousand words<br />" +
                "<iframe src=\"https://docs.google.com/document/d/e/2PACX-1vQmB_g1hE32ckwhGqjDLuCkD31wGQk3kiTtQcdhHTGo-GCmdScNF_BgTPNI8gOYeofOxAH4az74qD5n/pub?embedded=true\"" +
                "width = \"300\" height = '400'></iframe>" +
                "<br /><a href='https://docs.google.com/document/d/14D16fG6w6QsV4sRa5RbHgh_N2ma5DYlSML9-Vu38SRE/edit?usp=sharing'>Google doc link:</a> please make comments! <br /><br />",
            "GreatBodyText" : "<br />\n" +
                "        <br />\n" +
                "        Click on a couple trails, explore something interesting! Nature is always out there, if you look\n" +
                "        <br />\n" +
                "        <br />\n" +
                "        <span style=\"font-size: 200%\"><u>Key:</u></span><br />\n" +
                "        Blue lines: Free Parking<br />\n" +
                "        Green Lines: Paid Parking<br />\n" +
                "        <iframe src=\"https://www.google.com/maps/d/embed?mid=1mIbcvGdeoXyR552D1Elfzkwl6ujLNDHN&ehbc=2E312F\" width=\"500\" height=\"800\"></iframe>",

        }

        function toggleButton(longString, buttonID, descriptionID, posLabel = "Read more...", negLabel = "Close...")
        {
            var button = document.getElementById(buttonID);
            var target = document.getElementById(descriptionID);
            if (target.innerHTML == "")
            {
                target.innerHTML = longStrings[longString];
                button.innerText = negLabel;
            }
            else
            {
                button.innerText = posLabel;
                target.innerHTML = "";
            }

        }
        var clone = "CLONE"
        var cloneSplit = clone.split("|||")
        var currentQuoteNum = 26
        function changeQuote(amount, random=false){
            var randomNum = Math.floor(Math.random() * (cloneSplit.length));
            if (random == true)
            {
                currentQuoteNum = randomNum;
            }
            else
            {
                currentQuoteNum += amount;
                if (currentQuoteNum < 0)
                {
                    currentQuoteNum = cloneSplit.length - 1;
                }
                else if (currentQuoteNum >= cloneSplit.length)
                {
                    currentQuoteNum = 0;
                }
            }
            var newQuote = cloneSplit[currentQuoteNum]
            var quoteText = newQuote.split(": ")
            var quoteSpan = document.getElementById("CloneQoute")
            quoteSpan.innerHTML = quoteText[1]
            var quoteData = quoteText[0].split(" – ")
            var epNum = quoteData[0].split("×")
            document.getElementById("Season").innerHTML = epNum[0]
            document.getElementById("Episode").innerHTML = epNum[1]
            document.getElementById("EpTitle").innerHTML = quoteData[1]


        }
        changeQuote(0, true)

        var PictureURLS = ["DaneTractor.jpg-3024x4032",
            "LowerMonarch.jpg-3024x4032",
            "MugMountain.jpg-2640x1288",
            "SawtoothTop.jpg-2640x1288",
            "CityHall.jpg-2268x4032",
            "Vans.jpg-2268x4032",
            "GooseChair.jpg-3264x1836",
            "Tram.jpg-5184x3456",
        ]
        function randomPicture()
        {
            var i = Math.floor(Math.random() * (PictureURLS.length));
            var pictureSpan = document.getElementById("DanePicture");
            var html = "<img src=\"{% static 'images/URL' %} \" width=\"WIDTH\" height=\"150\" />";
            var url = PictureURLS[i]
            var dimensions = url.split("-")[1].split("x")
            var ratio = parseFloat(dimensions[0]) / parseFloat(dimensions[1])
            ratio = ratio * 200
            html = html.replace("URL", url.split("-")[0]);
            html = html.replace("WIDTH", ratio.toString())
            pictureSpan.innerHTML = html;
        }
        randomPicture()





    </script>

</body>