<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TYPE}} Portfolio</title>
    <style id = "BodyStyle">
        body
        {
            background-color: darkcyan;
            color: white;
            overflow-x:hidden;
            max-width: 100%;
            overflow-y: scroll;
            zoom : 200%;
        }
    </style>
</head>
<body>
<div style="font-size: 250%; text-align: center">
<u>Programming Portfolio</u>

</div>
<p style="text-align: center">
    {% load static %}
    <img src="{% static 'images/python_logo.png' %} " width="150" height="150" />
    <img src="{% static 'images/django_logo.png' %} " width="150" height="125" />
    <img src="{% static 'images/cs_logo.png' %} " width="150" height="150" />
    <img src="{% static 'images/unity_logo.png' %} " width="150" height="100" />
    <br />
    stuff here!
</p>
</body>
</html>