<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TYPE}} Portfolio</title>
    <style id = "BodyStyle">
        body
        {
            background-color: darkcyan;
            color: white;
            overflow-x:hidden;
            max-width: 100%;
            overflow-y: scroll;
            zoom : 200%;
        }
    </style>


    <script>
        var collapsedSections =
            {
                "Website" : "",
                "Commonhood" : "",
                "TwinRivers" : "",
            }
        function collapseSection(span, buttonID, posLabel = "Read more...", negLabel = "Collapse...") {
            var section = document.getElementById(span)
            var button = document.getElementById(buttonID)
            if (collapsedSections[span] == "") {
                collapsedSections[span] = section.innerHTML;
            }
            if (button.innerHTML == negLabel)
            {
                section.innerHTML = "";
                button.innerHTML = posLabel;
            }
            else{
                section.innerHTML = collapsedSections[span];
                button.innerHTML = negLabel;
            }
        }
    </script>
</head>
<body>
<div style="font-size: 250%; text-align: center">
<u>Programming Portfolio</u>

</div>
<p style="text-align: center">
    {% load static %}
    <img src="{% static 'images/python_logo.png' %} " width="75" height="75" />
    <img src="{% static 'images/django_logo.png' %} " width="75" height="60" />
    <img src="{% static 'images/cs_logo.png' %} " width="75" height="75" />
    <img src="{% static 'images/unity_logo.png' %} " width="75" height="50" />
    <br />
</p>

<br />
<p style="text-align: center">
    <u style="font-size: 150%">Jump to section:</u>
<br />

<a href="#WebsiteTop">www.danecarstens.net</a> - A django project
<br />
<a href="#CommonTop">Common'Hood</a> - A soon-to-be published indie game
    <br />
<a href="#TwinRiversTop">Twin Rivers, Montana</a> - A solo project in Unity

</p>


<br />
<p style="text-align: center; font-size: 200%" id="WebsiteTop">
    ----------------------------
    <br />
    <u style="color: black">www.danecarstens.net</u>
    <br />
    <button type="button" id="WebsiteButton" onclick="collapseSection('Website', 'WebsiteButton')">Collapse...</button>
</p>
<br />
<span id="Website">
The website itself is a portfolio piece!
<br />
This entire website was coded by me, using the django web framework. I hosted with the wonderful
    <a href="https://www.pythonanywhere.com"> www.pythonanywhere.com</a>
<br />
<br />
I learned basic HTML for this project, inspired by the retro look webpages had in the early 2000s. I wanted to
minimized clutter, while making all relevant information as prominent as possible.
<br />
Every line of code was written by me, both front-end and backend
</span>



<p style="text-align: center; font-size: 200%" id="CommonTop">
    ----------------------------
    <br />
    <u style="color: black; font-size: 150%">Common'Hood</u>
    <br />
    <button type="button" id="CommonhoodButton" onclick="collapseSection('Commonhood', 'CommonhoodButton')">Collapse...</button>
</p>
<span id="Commonhood">
<p style="text-align: center">
    <u >Common'Hood junior developer: June 2021 - December 2021</u>
</p>
From their steam page: <br />
    "Common’hood is a community building and economy management game with
    highly customizable base building tools. Scavenge for materials, grow your own food,
    research new technology, craft new tools, build a home, make friends.
    Form your community and take it from surviving to thriving!"
<p style="text-align: center">
    <a href="https://store.steampowered.com/app/962090/Commonhood/">Steam link:</a>
    <br />
    <a href="https://www.common-hood.com/">Website link:</a>
</p>
&nbsp;&nbsp;I was a full time developer for the summer and fall of 2021. I worked on bug fixes, adding developer tools,
and prototyping the online multi-player. The game was built in the Unity engine.
<br />
<br />
&nbsp;&nbsp;One of my more important tasks was creating the localization system. I had to scrape all text from the game, and export
it to an Excel file. It had columns for the english text, and space for the translator to put translated text.
With one click, the writing team could export all text in the game, and just as easily update the translated text.
In game, the user could select the different languages, and the game shifted languages.
<br />
&nbsp;&nbsp;For the online multi-player, we used the Mirror library for unity.
<br />
The game is set to come out in Fall 2022
<p style="text-align: center">
<iframe width="420" height="315"
src="https://www.youtube.com/embed/7CPJmO5tylk">
</iframe></p>

</span>

<p style="text-align: center; font-size: 200%" id="TwinRiversTop">
    ----------------------------
    <br />
    <u style="color: black; font-size: 150%">Twin Rivers, Montana</u>
    <br />
    <button type="button" id="TwinRiversButton" onclick="collapseSection('TwinRivers', 'TwinRiversButton')">Collapse...</button>
</p>
<span id="TwinRivers">
<p style="text-align: center">
    <u >Solo developed game - Fall 2020</u>
    <br />
    <a href="https://danecarstens.itch.io/twin-rivers">itch.io</a> link to play in browser!
    <br />
    <br />
    I programmed an extensive dialogue tree system, which took in JSON files and created branching paths.
    <br />
    The backend dialogue trees were written using <a href="https://yarnspinner.dev/">yarnspinner</a>, then that data was
    fed into my custom Unity implementation.
    <br />
    <br />
    <iframe src="{% static 'images/TwinRiversVid01.mp4' %}" width="300" height="300"></iframe>
    <br />
    Other than speaking with witnesses, the primary way to gather evidence is to find clues around the crime scene.
    <br />
    This system integrated with my dialogue, and finding certain clues opens up hidden dialogue options.
    <br />
    The clue prefab itself was modular, and creating new ones was a simple drag and drop
    <br />
    <iframe src="{% static 'images/TwinRiversClueVid.mp4' %}" width="300" height="300"></iframe>
    <br />
    To assist in their fact finding, the player had access to important information said during conversation,
    as well as all their clues
    <br />
    There was also a map, which updated its position in real time as the player moved
    <br />
    <iframe src="{% static 'images/TwinRiversConversations.mp4' %}" width="300" height="300"></iframe>
    <img src="{% static 'images/TwinRiversMap.png' %}" width="309" height="175"></img>

</p>



</span>

</body>
</html>