<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TYPE}} Portfolio</title>
    <style id = "BodyStyle">
        body
        {
            background-color: darkcyan;
            color: white;
            overflow-x:hidden;
            max-width: 100%;
            overflow-y: scroll;
            zoom : 300%;
        }
    </style>
</head>
<body>
<div style="font-size: 250%; text-align: center">
<u>Programming Portfolio</u>

</div>
<p style="text-align: center">
    {% load static %}
    <img src="{% static 'images/python_logo.png' %} " width="75" height="75" />
    <img src="{% static 'images/django_logo.png' %} " width="75" height="60" />
    <img src="{% static 'images/cs_logo.png' %} " width="75" height="75" />
    <img src="{% static 'images/unity_logo.png' %} " width="75" height="50" />
    <br />
</p>

<br />
<p style="text-align: center; font-size: 200%">
    ----------------------------
    <br />
    <u style="color: black">www.danecarstens.net</u>
</p>
<br />
The website itself is a portfolio piece!
<br />
This entire website was coded by me, using the django web framework. I hosted with the wonderful
    <a href="https://www.pythonanywhere.com"> www.pythonanywhere.com</a>
<br />
<br />
I learned basic HTML for this project, inspired by the retro look webpages had in the early 2000s. I wanted to
minimized clutter, while making all relevant information as prominent as possible.
<br />
Every line of code was written by me, both front-end and backend

<p style="text-align: center; font-size: 200%">
    ----------------------------
    <br />
    <u style="color: black; font-size: 150%">Common'Hood</u>
</p>
<p style="text-align: center">
    <u >Common'Hood junior developer: June 2021 - December 2021</u>
</p>
From their steam page: <br />
    "Common’hood is a community building and economy management game with
    highly customizable base building tools. Scavenge for materials, grow your own food,
    research new technology, craft new tools, build a home, make friends.
    Form your community and take it from surviving to thriving!"
<p style="text-align: center">
    <a href="https://store.steampowered.com/app/962090/Commonhood/">Steam link:</a>
    <br />
    <a href="https://www.common-hood.com/">Website link:</a>
</p>
&nbsp;&nbsp;I was a full time developer for the summer and fall of 2021. I worked on bug fixes, adding developer tools,
and prototyping the online multi-player. The game was built in the Unity engine.
<br />
<br />
&nbsp;&nbsp;One of my more important tasks was creating the localization system. I had to scrape all text from the game, and export
it to an Excel file. It had columns for the english text, and space for the translator to put translated text.
With one click, the writing team could export all text in the game, and just as easily update the translated text.
In game, the user could select the different languages, and the game shifted languages.
<br />
&nbsp;&nbsp;For the online multi-player, we used the Mirror library for unity.
<br />
The game is set to come out in Fall 2022

</body>
</html>